### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### Project data ###
yarn.lock
package-lock.json
package.lock
node_modules
/src/*
!/src/.gitkeep
/data/*
/dist/